<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>终端分配</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<link href="../css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" href="../css/style.css" />
		<link rel="stylesheet" href="css/terminal_manage.css" />
		<style>
			#menu{
				font-size: 0.34rem;
			}
		</style>
	</head>

	<body>
		<header class="mui-bar mui-bar-nav" id="header">
			<div class="home-header">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<a id="menu" class=" mui-pull-right">撤回分配</a>
			<h1 class="mui-title">终端分配</h1>
			
			</div>
		</header>
		<div class="mui-content">
			<div class="terminal_distribution_title">
				<div class="terminal_distribution_title_content" data-index = "0">
					<span>品牌</span>
					<img src="../images/terminal_sj.png" data-type = "0"/>
				</div>
				<div class="terminal_distribution_title_content" data-index = "1">
					<span>终端SN号段</span>
					<img src="../images/terminal_sj.png"data-type = "0"/>
				</div>
			</div>
			<div class="terminal_distribution_title_brand" id="brand"></div>
			
		    <div class="terminal_manage_body">
		    	<div class="terminal_select_content">
		    		<span>SN:</span>
		    		<div class="terminal_select_content_right1">
		    			<input type="number" placeholder="请输入SN" class="select_time_content" ></input>
				    	<span class="select_time_div">~</span>
				    	<input type="number" placeholder="请输入SN" class="select_time_content"></input>
		    		</div>
		    	</div>
		    	
		    </div>
		    <div class="terminal_distribution_body" id="content"></div>
		    
		    <div class="terminal_manage_button">
		    	<button type="button" id="choice_button">分配</button>
		    </div>
		    <div class="backdrop" id="backdrop"></div>
		</div>
		
		<script type="text/html" id="text">
			{{each List as value i}}
				{{if value.IsBindUser==1}}
		    	<div class="terminal_manage_content">
		    		<div class="terminal_manage_content_right1">
		    			<span>代理商名称： {{value.PosBrandName}}</span>
		    			<div class="terminal_manage_content_right_div">
		    				<span>代理商帐号： {{value.PosSnNo}}</span>
		    				<span>已绑定</span>
		    			</div>
		    		</div>
		    	</div>
		    	{{else}}
		    	<div class="terminal_manage_content">
		    		<img src="../images/select_rideo2.png" data-type = "0" data-id = "{{value.TerminalId}}"/>
		    		<div class="terminal_manage_content_right">
		    			<span>代理商名称：  {{value.PosBrandName}}</span>
		    			<span>代理商帐号：  {{value.PosSnNo}}</span>
		    		</div>
		    	</div>
		    	{{/if}}
	    	{{/each}}
		</script>
		
		<script type="text/html" id="text1">
			{{each Result as value i}}
			<div class="terminal_distribution_title_brand_content">
				<span>{{value.name}}</span>
				{{if cid==value.cid}}
				<img src="../images/terminal_gou.png" data-type = "0" data-cid = "{{value.cid}}" style="display: block;"/>
				{{else}}
				<img src="../images/terminal_gou.png" data-type = "0" data-cid = "{{value.cid}}" />
				{{/if}}
			</div>
			{{/each}}
		</script>
		
		<script type="text/javascript" src="../js/flexible.debug.js" ></script>
		<script type="text/javascript" src="../js/flexible_css.debug.js" ></script>
		<script src="../js/mui.min.js"></script>
		<script type="text/javascript" src="../js/art-template.js" ></script>
		<script type="text/javascript" src="../js/jquery-1.8.3.min.js" ></script>
		<script type="text/javascript" src="../js/app.js" ></script>
		<script type="text/javascript">
			mui.init();
			var choice_type=0;
			var id;
			//品牌号
			var PosBrandName;
			var cid;
			mui.plusReady(function(){
				mui.ajax('http://pos.wulilu.cn/AppShop/PostApi.ashx?action=GetTerminalManagement',{
					dataType: 'json',
					type: 'post',
					timeout: 10000,
					async:false,
					data:{
						sessionid:'c2a0c65fdd414216bf3ae93b79cddb25',
						pageIndex:1
					},
					success:function(data){
						console.info(JSON.stringify(data));
						datas=data.Result;
						var html=template("text",datas);
						document.getElementById("content").innerHTML=html;
						for (var i=0;i<datas.List.length;i++) {
							if(datas.List[i].IsBindUser==1){
								choice_type=2;
							}else{
								choice_type=0;
							}
						}
					},
					error:function(xhr,type,errorThrown){
						mui.toast("网络请求超时，请重新加载");
					}
				})
				mui('.terminal_manage_content').on('tap','img',function(){
					var type=$(this).data('type');
					if(type==0){
						this.src='../images/select_rideo1.png';
						$(this).data('type','1');
						$(this).parent('.terminal_manage_content').siblings().children('img').attr('src','../images/select_rideo2.png');
						$(this).parent('.terminal_manage_content').siblings().children('img').data('type','0');
						choice_type=1;
						id=$(this).data('id');
					}
	//					else if(type==1){
	//						this.src='../images/select_rideo2.png';
	//						$(this).data('type','0');
	//						var l=$('.terminal_manage_content').length;
	//						for (var index=0;index<l;index++) {
	//							var type1=$('.terminal_manage_content').eq(index).children('img').data('type');
	//							if(type1==1){
	//								choice_type=1;
	//							}else if(type1==0){
	//								choice_type=0;
	//							}
	//						}
	//					}
				})
			})
			
			
			
			document.getElementById("choice_button").addEventListener('tap',function(){
				if(choice_type==0){
					mui.toast("请先选择终端~");
				}else if(choice_type==2){
					mui.toast("暂无可以分配的终端~");	
				}else{
					mui.ajax('http://pos.wulilu.cn/AppShop/PostApi.ashx?action=GetProxyQuery',{
						dataType: 'json',
						type: 'post',
						timeout: 10000,
						async:false,
						data:{
							sessionid:'c2a0c65fdd414216bf3ae93b79cddb25',
							pageIndex:1
						},
						success:function(data){
							console.info(JSON.stringify(data));
							var datas=data.Result;
							datas['id']=id;
							fxshop.openVW("terminal_manage",{datas:datas});
						},
						error:function(xhr,type,errorThrown){
							mui.toast("网络请求超时，请重新加载");
						}
					})
					
				}
			})
			document.getElementById("menu").addEventListener('tap',function(){
				mui.ajax('http://pos.wulilu.cn/AppShop/PostApi.ashx?action=GetTerminalManagement',{
					dataType: 'json',
					type: 'post',
					timeout: 10000,
					async:false,
					data:{
						sessionid:'c2a0c65fdd414216bf3ae93b79cddb25',
						BindType:1,
						pageIndex:1
					},
					success:function(data){
						console.info(JSON.stringify(data));
						fxshop.openVW('withdraw_distribution',{datas:data});
					},
					error:function(xhr,type,errorThrown){
						mui.toast("网络请求超时，请重新加载");
					}
				})
				
			})
			document.getElementById("backdrop").addEventListener('tap',function(){
				$(".backdrop,.terminal_distribution_title_brand").hide();
				$('.terminal_distribution_title_content').eq(0).children('img').data('type','0');
				$('.terminal_distribution_title_content').eq(0).children('img').attr('src','../images/terminal_sj.png');
			})
			mui('.terminal_distribution_title_brand').on('tap','.terminal_distribution_title_brand_content',function(){
				var type=$(this).children('img').data('type');
				if(type==0){
					$(this).children('img').show();
					$(this).children('img').data('type','1');
					$(this).siblings().children('img').hide();
					$(this).siblings().children('img').data('type','0');
					PosBrandName=$(this).children('img').data('cid');
					if(PosBrandName==cid){
						PosBrandName==null;
					}
					mui.ajax('http://pos.wulilu.cn/AppShop/PostApi.ashx?action=GetTerminalManagement',{
						dataType: 'json',
						type: 'post',
						timeout: 10000,
						async:false,
						data:{
							sessionid:'c2a0c65fdd414216bf3ae93b79cddb25',
							PosBrandName:PosBrandName,
							pageIndex:1
						},
						success:function(data){
							console.info(JSON.stringify(data));
							cid=PosBrandName;
							datas=data.Result;
							var html=template("text",datas);
							document.getElementById("content").innerHTML=html;
							$(".backdrop,.terminal_distribution_title_brand").hide();
							$('.terminal_distribution_title_content').eq(0).children('img').data('type','0');
							$('.terminal_distribution_title_content').eq(0).children('img').attr('src','../images/terminal_sj.png');
							for (var i=0;i<datas.List.length;i++) {
								if(datas.List[i].IsBindUser==1){
									choice_type=2;
								}else{
									choice_type=0;
								}
							}
						},
						error:function(xhr,type,errorThrown){
							mui.toast("网络请求超时，请重新加载");
						}
					})
				}
			})
			mui(".terminal_distribution_title").on('tap','.terminal_distribution_title_content',function(){
				var type=$(this).children('img').data('type');
				if(type==0){
					$(this).children('img').attr('src','../images/terminal_sj1.png');
					$(this).children('img').data('type','1');
					$(this).siblings().children('img').attr('src','../images/terminal_sj.png');
					$(this).siblings().children('img').data('type','0');
				}else if(type==1){
					$(this).children('img').attr('src','../images/terminal_sj.png');
					$(this).children('img').data('type','0');
				}
				
				var index=$(this).data("index");
				console.info(index);
				switch(index){
					case 0:
						if(type==0){
							mui.ajax('http://pos.wulilu.cn/AppShop/PostApi.ashx?action=GetAuxiliary',{
								dataType: 'json',
								type: 'post',
								timeout: 10000,
								async:false,
								data:{
									sessionid:'c2a0c65fdd414216bf3ae93b79cddb25',
									Auxiliary_Type:1001
								},
								success:function(data){
									console.info(JSON.stringify(data));
									data['cid']=PosBrandName;
									var html=template("text1",data);
									document.getElementById("brand").innerHTML=html;
								},
								error:function(xhr,type,errorThrown){
									mui.toast("网络请求超时，请重新加载");
								}
							})
							$(".backdrop,.terminal_distribution_title_brand").show();
						}else if(type==1){
							$(".backdrop,.terminal_distribution_title_brand").hide();
						}
						break;
					case 1:
						if(type==0){
							$('.terminal_select_content').css('display','flex');
						}else if(type==1){
							$('.terminal_select_content').hide();
						}
						break;
				}
			})
			
			
		</script>
	</body>

</html>