<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<meta name="format-detection" content="telephone=no,email=no" />
		<title>我的火拼团</title>
		<link href="css/mui.min.css" rel="stylesheet" />
		<link href="css/style.css" rel="stylesheet" />
		<link rel="stylesheet" href="css/mescroll.min.css">
		<script type="text/javascript" src="js/flexible.debug.js"></script>
		<script type="text/javascript" src="js/flexible_css.debug.js"></script>
		<script type="text/javascript" src="js/mui.min.js"></script>
		<script type="text/javascript" src="js/app.js"></script>
		<script type="text/javascript" src="js/template.js"></script>
	</head>

	<body>
		<header class="mui-bar mui-bar-nav" id="header">
			<div class="home-header">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"><span>返回</span></a>
			<a id="menu" class="iconfont _more mui-pull-right" href="#topPopover"></a>
			<h1 class="mui-title">拼团</h1>
			</div>
		</header>

<!--右上角弹出菜单-->
		<div id="topPopover" class="mui-popover">
			<div class="mui-popover-arrow"></div>
			<div class="mui-scroll-wrapper">
				<div class="mui-scroll" id="navbar">
					<ul class="mui-table-view nav-bar">
						<li data-page="home"><i class="iconfont home"></i>首页</li>
						<li data-page="category"><i class="iconfont fenlei"></i>分类</li>
						<li data-page="shopcart"><i class="iconfont icon__cart"></i>购物车</li>
						<li data-page="user"><i class="iconfont icon__my"></i>个人中心</li>				
					</ul>
				</div>
			</div>

		</div>		



		<div id="pullrefresh" class="mui-content mui-scroll-wrapper transparent">
			<div class="mui-col-xs-12" id="fightNull">
				<img src="images/tuan.png" />
				<p>您还没有参加任何团哦，赶快去火拼吧！</p>
				<span class="fightBtn" id="fightBtn">去火拼</span>
			</div>

			<div class="mui-scroll">
				<div class="merge-personal" id="fightList">

				</div>
			</div>
		</div>

		<script>
			var isEnd = false,
				pageIndex = 0,
				pagesize = 10,
				needMember=[],
				siteifno = SiteSetting.getSiteInfo();
			var immersedIos=isIphoneX();	
			mui.init({
				pullRefresh: {
					container: '#pullrefresh',
					up: {
						contentrefresh: '正在加载...',
						contentnomore: '已加载全部拼团',
						callback: loadList
					}
				}
			});

			mui.plusReady(function() {
				//判断是否是iphone X 
				if(immersedIos){
					document.getElementById("header").className+=" Xheader"; 
					document.getElementById("pullrefresh").className+=" Xmui-content";
				} 	
				loadList('reset');
				BindEvent();
			});
			
			function BindEvent(){
				showNav();
				// 拼团详情页链接点击事件
			        mui('#fightList').on('tap', '.fightDetail', function() {
			        	var FightGroupId = this.dataset.groupid,
			        	orderid=this.dataset.id;			        	
						fxshop.openVW("FightGroupDetails", {
							"FightGroupId": FightGroupId,"orderid":orderid
						});
						
			        });
			          
			        mui('#fightList').on('tap', '.showOrder', function() {
						var requesturl = apiURL + "appshop/MemberOrderDetails?OrderId=" + this.getAttribute('data-id');
						fxshop.OpenWapWeb(requesturl,'订单详情');
					});
					
					document.getElementById('fightBtn').addEventListener('tap', function(){
			            fxshop.openVW('rushgrouplist');
			        });
					

			}
			



			// 上拉加载
			function loadList(re) {
				var that = this;
				if(!isEnd) {
					pageIndex++;
					mui.ajax(fxshop.goUrl('MyFightGroupList'), {
						data: {
							SessionId: siteifno.UserInfo.sessionid,
							pageIndex: pageIndex,
							PageSize: pagesize,
						},
						dataType: 'json',
						type: 'post',
						timeout: 10000,
						success: function(data) {
							var result = data.Result;
							if(data.ErrorResponse != undefined) {
								plus.nativeUI.toast(data.ErrorResponse.ErrorMsg);
								fxshop.openVW('login');
								return;
							};
							
								if(result.List.length < 10) {
									isEnd = true;
								}
		 							
							for(var i=0;i<result.List.length;i++){
								var maxMember=result.List[i].MaxJoinCount;
								var joinMember=result.List[i].GroupMembers.length;
								var need=maxMember-joinMember;
								result.List[i].MaxJoinCount=need;
								needMember.push(need);								
								var RemainTime=parseInt(result.List[i].RemainTime/3600)
								result.List[i].RemainTime=RemainTime;
								
							};
							 		
								
								if(re) {
									document.getElementById("fightList").innerHTML = template('initfight', {'result': result.List});
								} else {
									document.getElementById("fightList").insertAdjacentHTML('beforeend', template('initfight', {'result': result.List}));
									that.endPullupToRefresh(isEnd);
								}
								
							if(pageIndex == 1) {
								if(result.List.length > 0) {
									document.querySelector('.mui-pull-bottom-pocket').style.opacity = 1;
									document.getElementById("fightList").style.display = "block";
									document.getElementById("fightNull").style.display = "none";
								} else {
									document.querySelector('.mui-pull-bottom-pocket').style.opacity = 0;
									document.getElementById("fightList").style.display = "none";
									document.getElementById("fightNull").style.display = "block";
								}
							}								
 
						},
						error: function(xhr, type, errorThrown) {
							plus.nativeUI.toast('请求失败，请检查网络');
						}
					});
				} else {
					that.endPullupToRefresh(isEnd);
				}

			}


		</script>

	</body>

	<script type="text/html" id="initfight">
		{{each result as fight}}
		<div class="li-box padding24">
			<div class="fight-pro">
				<div class="img mr16"><img src="{{fight.ProductImage}}"></div>
				<div class="fight-pro-txt">
					<div class="fight-hd">{{fight.ProductName}}</div>
					<div class="fight-price">火拼价：¥{{fight.FightPrice}}</div>
					{{if fight.GroupStatus==0}}
					<div class="fight-time"><span>{{fight.LimitedHour}}小时</span>后组团结束</div>
					{{else if fight.GroupStatus==2}}
					<div class="fail-fight">成团失败</div>
					{{else}}
					<div class="fail-fight">成团时间:{{fight.CreateTime}}</div>
					{{/if}}
				</div>
			</div>
			<div class="fight-people">
				{{if fight.Status==1}}
				<div class="people-num">已参团的小伙伴{{if fight.MaxJoinCount>0}}，还差 <span>{{fight.MaxJoinCount}}</span>人：{{/if}}</div>
				{{else}}
				<div class="people-num">已参团的小伙伴</div>
				{{/if}}
				
				<div class="people-img">
					{{each fight.GroupMembers as people}}
						{{if people.IsMaster}}
						<div class="imgbox">
							<img src="{{people.HeadImage}}" class="img">
							<span class="tuanzhang"><img src="images/tuanzhang.png"></span>
						</div>						
						{{else}}
						<img src="{{people.HeadImage}}">
						{{/if}}
					{{/each}}
				</div>
			</div>

			<div class="btns-box">
				<span class="fightDetail" data-GroupId='{{fight.GroupId}}' data-id='{{fight.OrderId}}'>拼团详情</span>
				<span class="active showOrder" data-id='{{fight.OrderId}}'>查看订单</span>
			</div>
			
			{{if fight.GroupStatus==2}}
			<div class="fightState">
				<img src="images/failfight.png">
			</div>	
			{{else if fight.GroupStatus==1}}		
			<div class="fightState">
				<img src="images/overfight.png">
			</div>
			{{/if}}
			
			
		</div>
		
				

		
		{{/each}}
	</script>

</html>