<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<meta name="format-detection" content="telephone=no,email=no" />
		<title>我的火拼团详情</title>

		<link rel="stylesheet" href="css/mui.min.css">
		<link rel="stylesheet" href="css/swiper.min.css">
		<link rel="stylesheet" href="css/style.css" />

	</head>
	<style>
		.mui-control-content {
			margin-bottom: 1.3066rem;
			overflow: hidden;
		}
		
		#productframe img {
			width: 100%;
		}
	</style>

	<body>
		<header class="mui-bar mui-bar-nav" id="header">
			<div class="home-header">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"><span>返回</span></a>
			<a id="menu" class="iconfont _more mui-pull-right" href="#topPopover"></a>
			<h1 class="mui-title">拼团商品详情</h1>
			</div>
		</header>

		<!--
        	作者：419634501@qq.com
        	时间：2017-10-28
        	描述：添加咨询
        -->
		<div id="proconsulationicon" class="mui-hidden zixun">
			
		</div>

<!--右上角弹出菜单-->
		<div id="topPopover" class="mui-popover">
			<div class="mui-popover-arrow"></div>
			<div class="mui-scroll-wrapper">
				<div class="mui-scroll" id="navbar">
					<ul class="mui-table-view nav-bar">
						<li data-page="home"><i class="iconfont home"></i>首页</li>
						<li data-page="category"><i class="iconfont fenlei"></i>分类</li>
						<li data-page="shopcart"><i class="iconfont icon__cart"></i>购物车</li>
						<li data-page="user"><i class="iconfont icon__my"></i>个人中心</li>				
					</ul>
				</div>
			</div>

		</div>		

		<ul class="mui-share mui-list-inline" id="share">
			<li data-id="weixin" data-scene="WXSceneSession">
				<img src="images/icon_wechat.png" />
				<span class="mui-subtitle">微信</span>
			</li>
			<li data-id="weixin" data-scene="WXSceneTimeline">
				<img src="images/icon_wxTimeLine.png" />
				<span class="mui-subtitle">朋友圈</span>
			</li>
			<li data-id="qq">
				<img src="images/icon_qq.png" />
				<span class="mui-subtitle">QQ</span>
			</li>
			<li data-id="sinaweibo">
				<img src="images/icon_weibo.png" />
				<span class="mui-subtitle">新浪微博</span>
			</li>
			<div id="cancel">
				<a class="cancel">取消</a>
			</div>

		</ul>
		
		

			<div class="has-fixed-bottom mui-row mui-text-center bg-white">
				<div class="mui-col-xs-12 overflow Invitation" id="Invitation">邀请好友参团</div>
			</div>	

		
		
		

		<div class="mui-content" id="content" style="background: #F0F0F0;">

			<div id="FightList" style="padding-bottom:1.28rem ;">

			</div>

		</div>

		<!--添加咨询-->
		<div class="coupinfo-show mui-hidden" id="userconsolute">
			<div class="coupinfo-bd">
				<div class="mui-coupinfo-title mui-row overflow mui-clearfix">
					<div class="mui-col-xs-8 mui-text-left">商品咨询</div>
					<div class="mui-col-xs-4 mui-text-right">
						<span class="close"><i class="iconfont icon__close"></i></span>
					</div>
				</div>
				<div class="pre-activi overflow">
					<ul class="mui-table-view">
						<li class="mui-table-view-cell Discount_img">
							手机/邮箱：<input type="text" id="txtcellphone" />
						</li>
						<li class="mui-table-view-cell Discount_img">
							咨询内容：<textarea rows="4" id="txtareacontent"></textarea>
						</li>
					</ul>
				</div>
				<div class="has-fixed-bottom  mui-row mui-text-center bg-orage">
					<div id="btnAddconsolute">添加咨询</div>
				</div>
			</div>
		</div>
</script>

	<script src="js/mui.js" type="text/javascript"></script>
	<script src="js/app.js" type="text/javascript"></script>
	<script type="text/javascript" src="js/template.js"></script>
	<script src="js/swiper.min.js" type="text/javascript"></script>
	<script src="js/delayimg.min.js"></script>
	<script src="https://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
	<script src="js/flexible.debug.js" type="text/javascript"></script>
	<script src="js/flexible_css.debug.js" type="text/javascript"></script>
	<script src="js/jquery-1.8.3.min.js" type="text/javascript"></script>
	<script src="js/jquery.scrollLoading.min.js" type="text/javascript"></script>
	<script type="text/javascript" src="js/immersed.js"></script>
	<script type="text/javascript" src="js/LimitTime.js"></script>




		<script id="tempswiper" type="text/html">
			<div class="swiper-wrapper">
				{{each ProductImg as item}}
				<div class="swiper-slide editeCss"><img class="guide-img" src="{{item}}" /></div>
				{{/each}}
			</div>
			<div class="swiper-pagination swiper-pagination-white swiper-pagination-tuan"></div>
			<div class="swiper-tuan-num tuan-num mui-text-center">
				<div>5</div>人团</div>

		</script>

		<script id="tempfight" type="text/html">

			<!--拼团信息-->
			<div class="li-box padding24 mb0">
				<div class="fight-pro no-border pb0">
					<div class="img mr16"><img src="{{FightDetail.ProductImage}}"></div>
					<div class="fight-pro-txt">
						<div class="fight-hd">{{FightDetail.ProductName}}</div>
						<div class="fight-price">火拼价：¥{{FightDetail.FightPrice}}</div>
						{{if FightDetail.GroupStatus==0}}
						<div class="fight-time overtime  aa" id="overtime">{{FightDetail.LimitedHour}}小时后组团结束</div>
						{{else if FightDetail.GroupStatus==1}}
						<div class="fight-time overtime">组团成功</div>
						{{else}}
						<div class="fail-fightDetail">{{FightDetail.GroupStatusText}}</div>
						{{/if}}

					</div>
				</div>
			</div>

			<!--其它拼团伙伴-->
			<div class="tuan-buddy fightgroup-detail padding24 mt24">
				<ul class="">
					{{if FightDetail.GroupStatus==1}}
					<li class="hd">已参团的小伙伴{{if FightDetail.MaxCount>0}}，还差<span>{{FightDetail.MaxCount}}</span>人：{{/if}}</li>
					{{else}}
					<li class="hd">已参团的小伙伴</li>
					{{/if}} {{each FightDetail.GroupMembers as groupmember}}
					<li class="item">
						<img class="mui-media-object mui-pull-left img" src="{{groupmember.HeadImage}}">
						<div class="mui-media-body">
							<p class='mui-ellipsis mui-pull-left name'>{{groupmember.NickName}}</p>
							<div class="time">{{groupmember.JoinTime}}</div>
							{{if groupmember.IsMaster}}
							<span class="member-btn tuanzhang">团长</span> {{else}}
							<span class="member-btn cantuan">参团</span> {{/if}}
						</div>
					</li>
					{{/each}}
				</ul>

				{{if FightDetail.GroupStatus==2}}
				<div class="fightDeatilState">
					<img src="images/failfight.png">
				</div>
				{{else if FightDetail.GroupStatus==1}}
				<div class="fightDeatilState">
					<img src="images/overfight.png">
				</div>
				{{/if}}

				<div class="huodong">
					<img src="images/icon-guize.png">活动规则：邀请{{FightDetail.MaxJoinCount}}人即可成团，人数不足自动退款
				</div>

			</div>

			<div class="height32"></div>

			<div class="pd24-horizontal bg-white bd-e overflow" onclick="OpenReview({{FightDetail.ProductInfo.ProductId}})">
				<a class="mui-block">
					<div class="mui-row product-group-p">
						<div class="mui-col-xs-10 mui-text-left">商品评价（{{FightDetail.ProductInfo.ReviewCount}}）</div>
						<div class="mui-col-xs-2 mui-text-right iconfont arrow_right right-iconColor"></div>
					</div>
				</a>
			</div>

			<div class="height32"></div>

			<div class="view-description pd24-horizontal">
				<div class="bg-white">继续拖动，查看商品描述</div>
			</div>
			<div class="height32"></div>
			<div class="height32"></div>

			<div class="mui-tab-frame bg-white overflow mui-text-left ">
				<div id="segmentedControl" class="mui-segmented-control bg-white">
					<a class="mui-control-item mui-active" href="#item1">图文详情</a>
					<a class="mui-control-item" href="#item2">商品咨询 </a>
				</div>
				<div class="mui-tab-content">
					<div id="item1" class="mui-control-content mui-active">
						<!--图文详情-->
						<div class=" mui-content-bd mui-control-details" id="productframe">
							<!--<iframe style="width:100%;" frameborder="0"></iframe>-->
							{{ProductInfo.Description}}		
						</div>
					</div>

					<div id="item2" class="mui-control-content">
						<!--商品咨询-->
						<div class=" mui-content-bd mui-control-consul">
							<iframe id="productconsultations" style="width:100%;" frameborder="0" scrolling="no"></iframe>
						</div>
					</div>
				</div>
			</div>
			<div class="footer-mb overflow"></div>
	{{FightDetail.GroupStatus}}



		{{if FightDetail.GroupStatus==2||FightDetail.GroupStatus==1}}
			<div class="has-fixed-bottom mui-row mui-text-center bg-white">
				<div class="mui-col-xs-6 join-shop" id="morefight">更多拼团</div>
				<div class="mui-col-xs-6 buy-now" id="kaituan" data-activeid="{{FightDetail.ActivityId}}">我也要开团</div>
			</div>

			{{else}}			
			 
			<div class="mui-col-xs-12 overflow Invitation" id="Invitation">邀请好友参团</div>
 
		{{/if}}	

		</script>

		<script>
			var FightGroupId,
				pid = "",
				fightstate = 1,
				controltop = 0,
				sessionid = "",
				orderId,
				shareData = {};
			var immersedIos=isIphoneX();	
			mui.init({});
			mui.plusReady(function() {
				//判断是否是iphone X 
				if(immersedIos){
					document.getElementById("header").className+=" Xheader"; 
					document.getElementById("content").className+=" Xmui-content";
				} 	 
				CurrentView = plus.webview.currentWebview();
				FightGroupId = CurrentView.FightGroupId;
				orderId = CurrentView.orderid;
				if(fxshop.isLogin()) {
					sessionid = SiteSetting.getSiteInfo().UserInfo.sessionid;
				}

				ShowFightDetails();
				setTimeout(function() {
					CalculationFrame();
					BindEvent();
				}, 2000);
				showPreviewImage();

			})

		function showPreviewImage() {
			var imgsurl = [];
			var nowurl = '';
			var imgObj = document.getElementsByClassName(".mui-tab-content img");
			for(var i = 0; i < imgObj.length; i++) {
				imgsurl[i] = getFullPath(imgObj.eq(i).attr("data-url"));
				imgObj[i].onclick = function() {
					nowurl = this.src;
					wx.previewImage({
						current: nowurl,
						urls: imgsurl
					});
				}
			}
		}

			window.onscroll = function() {
				setScrollLoading();
				var top = document.documentElement.scrollTop || document.body.scrollTop;
				if(top > controltop) {
					fxshop.addClass(document.getElementById("segmentedControl"), "active");
					fxshop.removeClass(document.getElementById("proconsulationicon"), "mui-hidden")
				} else {
					fxshop.removeClass(document.getElementById("segmentedControl"), "active");
					fxshop.addClass(document.getElementById("proconsulationicon"), "mui-hidden")
				}
			};

		function setScrollLoading() {
			$("img").scrollLoading();
			$("iframe").each(function() {
				if(!$(this).attr("src")) {
					$(this).attr("src", $(this).attr("data-url"));
				}
			})
		}

			function ShowFightDetails() {
				mui.ajax(fxshop.goUrl("FightGroupDetail"), {
					dataType: "json",
					type: "post",
					data: {
						"FightGroupId": FightGroupId,
						"SessionId": sessionid
					},
					success: function(res) {
						if(res["ErrorResponse"] != undefined) {
							mui.toast(res.ErrorResponse.ErrorMsg);
							return;
						}

						var maxMember = res.Result.MaxJoinCount;
						var joinMember = res.Result.GroupMembers.length;
						var need = maxMember - joinMember;
						res.Result.MaxCount = need;
						template.config("escape", false);
						document.getElementById("FightList").innerHTML = template("tempfight", {
							"FightDetail": res.Result
						});
						pid = res.Result.ProductInfo.ProductId;
						controltop = document.getElementById("segmentedControl").offsetTop;
						//document.getElementById("productframe").innerHTML = res.Result.ProductInfo.Description;
						delayimg.init({offset:300,throttle:0});
						document.getElementById("productconsultations").src = apiURL + "Appshop/ProductDetailsConsultations.aspx?productId=" + pid;
						LimitTimeShow(res.Result.EndTime);

					},
					error: function(ex) {
						mui.toast(ex);
					}
				});

			}

			function CalculationFrame() {
				var productconsultationsframe = document.getElementById("productconsultations");
				outerheight = productconsultationsframe.contentWindow.document.body.scrollHeight;
				if(outerheight == 359) {
					outerheight = 150
				} else {
					outerheight = outerheight - 67;
				}
				productconsultationsframe.setAttribute("height", outerheight);
			}

			function BindEvent() {
				showNav();
				var morefight = document.getElementById('morefight');
				var kaituan = document.getElementById('kaituan');
				var Invitation = document.getElementById('Invitation');
				if(morefight != undefined || morefight != null) {
					document.getElementById('morefight').addEventListener('tap', function() {
						fxshop.openVW('rushgrouplist');
					});
				}
				if(kaituan != undefined || kaituan != null) {
					document.getElementById('kaituan').addEventListener('tap', function() {
						fxshop.openVW('rushgroupdetail', {
							activeid: this.getAttribute('data-activeid')
						});
					});
				}

				if(Invitation != undefined || Invitation != null) {
					document.getElementById('Invitation').addEventListener('tap', function() {
						ShareFight(FightGroupId, '');
					});
				}

				mui("#List").on("tap", ".close", function() {
					document.getElementById("coupslist").style.display = "none";
					document.getElementById("promotionlist").style.display = "none";
					fxshop.addClass(document.getElementById("userconsolute"), "mui-hidden");
				});

				//显示商品咨询
				document.getElementById("proconsulationicon").addEventListener("tap", function() {
					fxshop.removeClass(document.getElementById("userconsolute"), "mui-hidden");
				});

				//点击添加商品咨询按钮
				document.getElementById("btnAddconsolute").addEventListener("tap", function() {
					var cellphone = document.getElementById("txtcellphone").value.trim();
					var areacontent = document.getElementById("txtareacontent").value.trim();

					if(cellphone.length <= 0 || areacontent.length <= 0) {
						mui.toast("手机/邮箱或咨询内容不允许为空！");
						return;
					}

					sessionid = SiteSetting.getSiteInfo().UserInfo.sessionid;
					mui.ajax(fxshop.goUrl("ProductConsultations"), {
						dataType: "json",
						type: "post",
						data: {
							'sessionid': sessionid,
							'productId': pid,
							'userName': cellphone,
							'consultationText': areacontent
						},
						success: function(res) {

							if(res["ErrorResponse"] != undefined) {
								mui.toast(res.ErrorResponse.ErrorMsg);
								return;
							}

							mui.toast("商品咨询成功！");
							fxshop.addClass(document.getElementById("userconsolute"), "mui-hidden");

						},
						error: function(ex) {
							mui.toast(ex);
						}
					});
				});

			}
		</script>

</html>